body {
    height: calc(100vh - 72px) !important;
    font-family: 'Poppins', sans-serif !important;
    --color-tenantTheme: #46e94c;

    --color-darkBlue: #161648;
    --color-slaty: #586A7B;
    --color-lightSlaty: #8B9AA5;
    --color-gray: #B6B5B5;
    --color-brandingRed: #FF7556;
    --color-brandingLightRed: #FFE3DD;
    --color-fadeRed: rgba(255, 117, 86, 0.08);
    --color-purple: #6505C1;
    --color-lightPurple: RGBA(136,0,251,0.5);
    --color-brandinfLightPurple: #8800FB;
    --color-darkPurple: #7B68EE;
    --color-green: #43D2C4;
    --color-slightPurple: rgba(235, 237, 248, 0.2);
    --color-primary: #215caa;
    --color-white: #ffffff;
    --color-borderGrey: #DADEF1;
    --color-black: #333333;
    --color-lightgray: #EBEDF8;
    --color-darkGray: #10263B;
    --color-skyBlue: #E6ECFB;
    --color-lightParrot: #73D54B;
    --color-offWhite: #D1D7DB;
    --color-offLightWhite: #FCFCFC;
    --color-darkSlaty: #C8CEDF;
    --color-medPurple: #9B2FFB;
    --color-lightOrange: #FFA590;
    --color-fadeOrange: #FFD5CC;
    --color-fadeSkyblue: #F6FBFF;
    --color-lightFadedBlue: #F8FCFF;
    --color-contrastGray: #C0CAD1;
    --color-fadeGreen: #D9F6F3;
    --color-fadePurple: #E0CDF3;
    --color-darkGreen: #00BEAB;
    --color-grayShade: #B5BBCB;
    --color-fadedSkyBlue: #F2FAFF;
    --color-parrotGreen: #66D587;
    --color-lightSkyishBlue: #EBF7FF;
    --color-shadyBluish: #BFDAF8;
    --color-greenish: #316393;
    --color-skyGray: #23374B;
    --color-grane: #F1F1F1;
    --color-darkGrane: #979797;
    --color-lightGrane: #D8D8D8;
    --color-lightGreece: #838383;
    --color-offGrain: #FAFAFA;
    --color-offGrain1: #F5F5F5;
    --color-blue: #2A81D4;
    --color-shadeBlue: #1B61A3;
    --color-lightoffWhite: #EFEFEF;
    --color-greenShade: #2C761E;
    --color-linearWhite: #F6F6F6;
    --color-linearGray: #E4E4E4;
    --color-shineGray: #EAEFF3;
    --color-darkPink: #C439C7;
    --color-lightpink : #EF49F2;
    --color-borderPink: #FEDAFF;
    --color-darkMudGreen: #0A9688;
    --color-mixBlue: #3A7FB1;
    --color-shadyBlue: #579ED2;
    --color-borderGreen: #B2FFF7;
    --color-borderBrandingRed: #FFD5CB;
    --color-brandingMidRed: #FF8D73;
    --color-dullPurple: rgba(101,5,193,0.1);
    --color-blueMud: #F2F5FF;
    --color-darkBlueMud: #9FA6BF;
    --color-brandingFadeRed: #FF8D73;
    --color-midgreen: #04DAC4;
    --color-mudBlue : #3A7FB1;
    --color-darkPink: #C439C7;
    --color-lightPink: #EF49F2;
    --color-grade: #597086;
    --color-bloom: #2E4D6A;
    --color-headerBlue: #10263B;
    --color-contentPrimary: #353535;
    --color-contentSecondary: #989898;
    --color-borderPrimary: #E9E9E9;
    --color-borderSecondary: #D8E0E5;
    --color-error: #ff4d4f;
    --color-contentQuaternary: #7100DE;
    --color-colorPrimary: #6505C1;
    --color-lightestPurple: #F2E4FF;
    --color-lightBlue: #F7FAFC;
    --color-slatyGrey: #E9E9E9;
    --container-width: 90%;
     overflow-y: hidden;
  }
  